.answer-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
}

.answer-layout .vote-cell {
  width: auto;
  padding-right: 16px;
  vertical-align: top;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: 13px;
}

.answer-layout .vote-cell .vote-container {
  margin: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #bbc0c4 !important;
}

.answer-layout .vote-cell .vote-container button {
  padding: 0;
  border: none;
  outline: none;
  font: unset;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  text-decoration: none;
}

.answer-layout .vote-cell .vote-container .vote-count {
  font-size: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6a737c;
}

.answer-layout .answer-item {
  padding-right: 16px;
  -ms-grid-column: 2;
  grid-column: 2;
  width: auto;
  min-width: 0;
  font-size: 13px;
}

.answer-layout .answer-item .answer-content {
  width: 100%;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.answer-layout .answer-item .answer-content p {
  clear: both;
  margin-bottom: 15px;
  margin-top: 0;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.answer-layout .answer-item .answer-actions {
  margin-bottom: 0 !important;
  margin-top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.answer-layout .answer-item .answer-actions .action-btns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  margin: 4px 16px 4px 0;
  color: #242729;
}

.answer-layout .answer-item .answer-actions .action-btns .answer-menu {
  padding-top: 2px;
}

.answer-layout .answer-item .answer-actions .action-btns .answer-menu .s-link .s-link__danger {
  padding: 0 4px 2px;
}

.answer-layout .answer-item .answer-actions .action-btns .answer-menu .answer-links {
  padding: 0 4px 2px;
  color: #848d95;
  text-decoration: none;
}

.answer-layout .answer-item .answer-actions .action-btns .answer-menu .answer-links:hover {
  color: #cfd2d6;
  text-decoration: none;
}

.answer-layout .answer-item .answer-actions .answer-owner {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: left;
  vertical-align: top;
  width: 200px;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 auto !important;
          flex: 0 auto !important;
}

.answer-layout .answer-item .answer-actions .answer-owner .answer-user {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 6px 7px 7px;
  color: #6a737c;
  font-size: 13px;
}

.answer-layout .answer-item .answer-actions .answer-owner .answer-user .answer-user-time {
  margin-top: 1px;
  margin-bottom: 4px;
  font-size: 12px;
  white-space: nowrap;
}

.answer-layout .answer-item .answer-actions .answer-owner .answer-user .answer-logo {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 1px;
}

.answer-layout .answer-item .answer-actions .answer-owner .answer-user .answer-logo img {
  width: 32px;
  height: 32px;
}

.answer-layout .answer-item .answer-actions .answer-owner .answer-user .answer-details {
  margin-left: 8px;
  width: calc(100% - 40px);
  float: left;
}

.answer-layout .answer-item .answer-actions .answer-owner .answer-user .answer-details .answer-user-profile-link {
  color: #0077cc;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}

.answer-layout .answer-item .answer-actions .answer-owner .answer-user .answer-details .answer-user-profile-link:hover {
  color: #0095ff;
  text-decoration: none;
}
/*# sourceMappingURL=AnswerItem.styles.css.map */